#time {
	margin-top: 8px;
	padding: 2px 8px;
	display: inline-block;

}

#timeLabel {
	font-weight: 700;
	font-size: 25px;
}

.time-open {
	background: #7ED321;
	color: #272721;
}
.time-closed {
	background: #fb584d;
	color: white;
}